/* i'm gonna do this to reset all the margins and paddings. */
*:not(blockquote) {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

.logo {
    max-width: 50px;
    margin: 5px 10px;
}

.brand {
    display: inline;
}

.nav-bar {
    background: #242424;
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    padding: 12px;
    position: sticky; /* to keep nav bar on the top of the page */
    top: 0;
    height: 40px;
    z-index: 1;
}

/* this spacer separates the logo/brand from the nav items. */
.spacer {
    flex: 1;
}

.nav-list {
    list-style: none; /* this is how you remove list styles! */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.nav-list li {
    margin: 0 15px;
    font-size: 1.3rem;
    cursor: pointer;
}

.nav-list li a {
    text-decoration: none;
    color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 6px 10px;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.search {
    border: none;
    height: 28px;
    font-size: 1.3rem;
    margin-right: 20px;
    padding: 5px 10px;
    width: 100px;
    background: #eeeeee;
    border-radius: 5px;
    transition: width 0.2s;
}

.search:focus {
    width: 300px;
    outline: none;
}

.main {
    margin: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #eeeeee;
}

.post {
    width: 700px;
    margin: 10px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.post-header {
    font-size: 3rem;
    align-self: flex-start; /* overwrite parent's allignments */
}

/* just gonna overwrite all <hr>'s since this is a small website. */
hr {
    margin: 15px 0;
    width: 100%;
}

.refs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.good-table {
    width: 100%;
    text-align: center;
}

.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-list {
    margin: 15px;
    width: 90%;
}

#dog-image {
    max-width: 700px;
}

#good-song {
    font-size: 1.2rem;
    border: 1px solid gray;
    text-decoration: none;
    color: #0d627a;
}

.video {
    display: block;
    margin: auto;
}

#random-pic {
    display: block;
    margin: 10px auto;
}

.useful-links {
    width: 90%;
    display: block;
    margin: auto;
}
